*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: 0;
}

@font-face {
  font-family: "TeleGrotesk-Next";
  src: url("../fonts/TeleGroteskNextMedium.woff2") format("woff2"),
    url("../fonts/TeleGroteskNextMedium.woff") format("woff"),
    url("../fonts/TeleGroteskNextMedium.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "TeleGrotesk-Next";
  src: url("../fonts/TeleGroteskNextBold.woff2") format("woff2"),
    url("../fonts/TeleGroteskNextBold.woff") format("woff"),
    url("../fonts/TeleGroteskNextBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  background: rgba(226, 0, 116, 1);
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "TeleGrotesk-Next", sans-serif;
  position: relative;
}
.top {
  background: url(../img/bg.png) center no-repeat;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 70%;
  display: flex;
}
.logo__media {
  width: 100%;
}
.text {
  text-align: center;
  font-size: 3.5vw;
}
.text span {
  font-weight: bold;
  font-size: 4.5vw;
}
.slider{
    position: absolute;
    width: 100%;
    top: 20%;
}
.slider__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider__img{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0;
}
.img__media{
    width: 100%;
    margin: 0;
}
.slider__btn{
    position: absolute;
    top: 50%;
}
.slider__pre{
    left: 5%;
}
.slider__next{
    right: 5%;
}
.bottom {
  height: 30%;
  background: #ffffff;
  width: 100%;
}
