*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: 0;
}

@font-face {
  font-family: "TeleGrotesk-Next";
  src: url("../fonts/TeleGroteskNextRegular.woff2") format("woff2"),
    url("../fonts/TeleGroteskNextRegular.woff") format("woff"),
    url("../fonts/TeleGroteskNextRegular.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "TeleGrotesk-Next";
  src: url("../fonts/TeleGroteskNextBold.woff2") format("woff2"),
    url("../fonts/TeleGroteskNextBold.woff") format("woff"),
    url("../fonts/TeleGroteskNextBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  background: rgba(226, 0, 116, 1);
  color: #fff;
}
button{
    outline: 0;
}
li{
    list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "TeleGrotesk-Next", sans-serif;
  position: relative;
}
.top {
  background: url(../img/bg.png) center no-repeat;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 60%;
  display: flex;
}
.logo__media {
  width: 100%;
}
.text {
  text-align: center;
  font-size: 3vw;
}
.text span {
  font-weight: bold;
  font-size: 4vw;
}
.slider{
    position: absolute;
    width: 100%;
    top: 20%;
    max-height: 80%;
    overflow: hidden;
}
.slider__popup{
    position: absolute;
    background: #fff;
    color: #000;
    padding: 10px;
    padding-right: 30px;
    height: 89%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    opacity: 0;
    transition: 1s ease; 
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.slider__popup-active{
    opacity: 1;
}
.list-two__item{
  position: relative;
}
.popup__list-two:first-child{
  font-weight: bold;
}
.list-two__item::after{
  content: url(../img/ok.svg);
  position: absolute;
  right: -20px;
}
.slider__text{
    width: 7%;
    display: flex !important;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.slider__item{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 55px;
}
.slider__img{
    width: 40%;
    display: flex;
    justify-content: center;
}
.img__media{
    width: 100%;
    margin: 0;
    transform: translateX(0px) rotate(0deg);
    transition: 1s ease;
}
#img__media4{
  margin-top: 20px;
  transform: scale(1.05);
}
.img__media-active{
    transform: translateX(-50px) rotate(-25deg);
    transition: 1s ease;
}
.slider__btn{
    position: absolute;
    top: 50%;
}
.slider__pre{
    left: 5%;
}
.slider__next{
    right: 5%;
}
.bottom {
  height: 30%;
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
}
.btn{
  width: 40%;
}
.btn__img{
  width: 100%;
}